[submodule "lib/SmartIrc4net"]
	path = lib/SmartIrc4net
	url = git://git.qnetp.net/smartirc4net.git
[submodule "lib/Twitterizer"]
	path = lib/Twitterizer
	url = git://git.qnetp.net/twitterizer.git
[submodule "lib/Newtonsoft.Json"]
	path = lib/Newtonsoft.Json
	url = git://git.qnetp.net/json-net.git
[submodule "lib/db4o-net"]
	path = lib/db4o-net
	url = git://git.qnetp.net/db4o-net.git
[submodule "lib/jabber-net"]
	path = lib/jabber-net
	url = git://git.qnetp.net/jabber-net.git
[submodule "lib/ServiceStack.Text"]
	path = lib/ServiceStack.Text
	url = git://git.qnetp.net/ServiceStack.Text.git
[submodule "lib/ServiceStack"]
	path = lib/ServiceStack
	url = git://git.qnetp.net/ServiceStack.git
[submodule "lib/messagingmenu-sharp"]
	path = lib/messagingmenu-sharp
	url = git://git.qnetp.net/messagingmenu-sharp.git
[submodule "lib/SignalR"]
	path = lib/SignalR
	url = git://git.qnetp.net/SignalR.git
[submodule "lib/JabbR"]
	path = lib/JabbR
	url = git://git.qnetp.net/JabbR.git
