Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
install-sh
intltool-extract.in
intltool-merge.in 
intltool-update.in
intltool.m4
libtool
libtool.m4
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
ltmain.sh
missing
*.user*
*.pidb
*.swp
po/Makefile
po/Makefile.in
po/POTFILES
po/stamp-it
po-*/Makefile
po-*/Makefile.in
po-*/POTFILES
po-*/*.gmo
po-*/*.pot
po-*/*~
.DS_Store
.pc/
bin/
bin-osx/
bin-win32/
Thumbs.db
