[Desktop Entry]
Version=1.0
Name=smuxi
GenericName=IRC Client
Comment=IRC client for advanced users
Exec=/usr/bin/smuxi-frontend-gnome
Icon=gnome-talk.png
StartupNotify=true
Terminal=false
Type=Application
Categories=Application;Network;
