Source: smuxi
Section: gnome
Priority: optional
Maintainer: Mirco Bauer <meebey@debian.org>
Build-Depends: debhelper (>= 5.0.0), dpatch
Build-Depends-Indep: cli-common-dev (>= 0.4.4), mono-mcs (>= 1.0) | c-sharp-compiler, libgtk2.0-cil, libgnome2.0-cil, libgconf2.0-cil, libglade2.0-cil, libglib2.0-cil, gettext, intltool
Standards-Version: 3.7.2

Package: smuxi
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${cli:Depends}
Description: IRC client for advanced users
 Smart MUtipleXed Irc (smuxi) is an IRC client for advanced users.
 It is split into 2 parts, engine and frontend. The frontend can be detached
 from the running engine and later reattached, while keeping the complete
 state.
