#!/usr/bin/make -f
export DH_VERBOSE=1

LSB_VENDOR = $(shell lsb_release -is)
LSB_CODENAME = $(shell lsb_release -cs)
DEB_VERSION = $(shell dpkg-parsechangelog -ldebian/changelog | grep ^Vers | cut -d\  -f2)

DISABLE_JABBR =
ifeq ($(LSB_VENDOR) $(LSB_CODENAME), Ubuntu lucid)
	DISABLE_JABBR = --disable-engine-jabbr
endif

override_dh_auto_configure:
	if [ -x ./autogen.sh ]; then \
		NOCONFIGURE=1 NOGIT=1 ./autogen.sh; \
	fi
	dh_auto_configure -- \
	  --with-vendor-package-version="Debian $(DEB_VERSION)" \
	  --enable-engine-irc \
	  --enable-engine-twitter \
	  --enable-engine-xmpp \
	  --enable-frontend-gnome \
	  --enable-frontend-stfl \
	  --with-db4o=included \
	  --with-notify \
	  --with-dbus \
	  $(DISABLE_JABBR) \
	  GMCS=/usr/bin/mono-csc MCS=/usr/bin/mono-csc

# disable "make check"
override_dh_auto_test:

# disable stripping debugging symbols
override_dh_clistrip:

override_dh_clideps:
# HACK: force missing native dependency on libindicate4 via hacked clilibs
ifeq ($(LSB_VENDOR) $(LSB_CODENAME), Ubuntu lucid)
	cat debian/indicate-sharp-0.4.1.clilibs >> debian/smuxi-frontend-gnome/DEBIAN/clilibs
endif
	dh_clideps \
		--exclude-moduleref=i:secur32 \
		--exclude-moduleref=i:secur32.dll \
		--exclude-moduleref=libigemacintegration.dylib \
		--exclude-moduleref=/System/Library/Frameworks/Carbon.framework/Versions/Current/Carbon \
		--exclude-moduleref=/System/Library/Frameworks/CoreFoundation.framework/Versions/A/CoreFoundation \
		--exclude-moduleref=/System/Library/Frameworks/ApplicationServices.framework/Versions/A/ApplicationServices

override_dh_install:
	dh_install
	# optional binary files
	-dh_install -p smuxi-frontend-gnome "usr/lib/smuxi/messagingmenu-sharp.dll*"
	-dh_install -p smuxi-frontend-gnome "usr/lib/smuxi/gio-sharp.dll*"
	# optional system libs
	-install /usr/lib/gio-sharp/gio-sharp.dll* debian/smuxi-frontend-gnome/usr/lib/smuxi/
	# JabbR doesn't build on Mono < 2.10
	-dh_install -p smuxi-engine "usr/lib/smuxi/Microsoft.AspNet.SignalR.Client.dll*"
	-dh_install -p smuxi-engine "usr/lib/smuxi/JabbR.Client.dll*"

%:
	dh $@ --with cli
