<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
    <dllmap dll="stfl" target="libstfl.so.0" />
    <dllmap dll="ncurses" target="libncursesw.so.5" />
    <log4net>
        <root>
          <level value="DEBUG" />
          <appender-ref ref="RollingFile" />
        </root>
        <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
          <file value="smuxi-frontend-stfl.log" />
          <appendToFile value="true" />
          <maximumFileSize value="10240KB" />
          <maxSizeRollBackups value="1" />

          <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
          </layout>
        </appender>
    </log4net>
</configuration>
