<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
    <dllmap os="!windows,osx" dll="gtkspell.dll" target="libgtkspell.so.0" />
    <dllmap os="!windows,osx" dll="libgtk-win32-2.0-0.dll" target="libgtk-x11-2.0.so.0" />
    <dllmap os="osx" dll="libgtk-win32-2.0-0.dll" target="libgtk-quartz-2.0.0.dylib" />
    <dllmap os="osx" dll="libigemacintegration.dylib" />
    <dllmap os="osx" dll="/System/Library/Frameworks/Carbon.framework/Versions/Current/Carbon" />
    <dllmap os="osx" dll="/System/Library/Frameworks/CoreFoundation.framework/Versions/A/CoreFoundation" />
    <dllmap os="osx" dll="/System/Library/Frameworks/ApplicationServices.framework/Versions/A/ApplicationServices" />
    <log4net>
        <root>
            <appender-ref ref="ConsoleAppender" />
        </root>
        <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
            </layout>
        </appender>
    </log4net>
</configuration>
